parameters:
	ignoreErrors:
		-
			message: "#^Access to property \\$cObj on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\.$#"
			count: 1
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Access to property \\$rootLine on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\.$#"
			count: 1
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Access to property \\$tmpl on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\.$#"
			count: 2
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Method Sinso\\\\Variables\\\\Hooks\\\\ContentProcessor\\:\\:getMarkers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Method Sinso\\\\Variables\\\\Hooks\\\\ContentProcessor\\:\\:replaceContent\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Parameter \\$frontendController of method Sinso\\\\Variables\\\\Hooks\\\\ContentProcessor\\:\\:getMarkers\\(\\) has invalid type TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\.$#"
			count: 2
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Parameter \\$parentObject of method Sinso\\\\Variables\\\\Hooks\\\\ContentProcessor\\:\\:replaceContent\\(\\) has invalid type TYPO3\\\\CMS\\\\Frontend\\\\Controller\\\\TypoScriptFrontendController\\.$#"
			count: 2
			path: Classes/Hooks/ContentProcessor.php

		-
			message: "#^Call to an undefined method object\\:\\:flushCachesInGroupByTag\\(\\)\\.$#"
			count: 1
			path: Classes/Hooks/DataHandler.php

		-
			message: "#^Method Sinso\\\\Variables\\\\Hooks\\\\DataHandler\\:\\:clearCachePostProc\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/DataHandler.php

		-
			message: "#^Method Sinso\\\\Variables\\\\Hooks\\\\MarkersProcessorInterface\\:\\:postProcessMarkers\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Hooks/MarkersProcessorInterface.php

		-
			message: "#^Method Sinso\\\\Variables\\\\Hooks\\\\MarkersProcessorInterface\\:\\:postProcessMarkers\\(\\) has parameter \\$markers with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Hooks/MarkersProcessorInterface.php

		-
			message: "#^Call to an undefined method object\\:\\:get\\(\\)\\.$#"
			count: 1
			path: Configuration/TCA/tx_variables_marker.php

		-
			message: "#^Parameter \\#4 \\$month of function mktime expects int\\|null, string given\\.$#"
			count: 2
			path: Configuration/TCA/tx_variables_marker.php

		-
			message: "#^Parameter \\#5 \\$day of function mktime expects int\\|null, string given\\.$#"
			count: 2
			path: Configuration/TCA/tx_variables_marker.php

		-
			message: "#^Parameter \\#6 \\$year of function mktime expects int\\|null, string given\\.$#"
			count: 2
			path: Configuration/TCA/tx_variables_marker.php
